<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>    
<header>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">P. Savon</a>
      </div>

        <nav class="navbar navbar-light bg-light">
        
            <a href="/Accueil">Accueil</a>
            <a href="/Calculatrice">Calculatrice</a>
            <a href="/Ingredients">Ingredients</a>
            <button class="nav-button">connexion</button>
            <button class="nav-button">inscription</button>
        </nav>
    </header>
<body>
    
</body>
</html>
