<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
</head>
<body>
    <div class="intro">
        <h1><strong>Collaboration Innovante entre Adepro et le Lycée Léonard de Vinci</strong></h1>
        <p>Le Lycée Léonard de Vinci et Adepro ont établi un partenariat pour rapprocher les étudiants des réalités professionnelles. Adepro, expert en matière de réglementation dans l’industrie cosmétique, offre aux élèves l’opportunité de découvrir et de se former sur des outils et concepts directement issus du monde du travail. Ce partenariat vise à préparer les jeunes à des carrières dans des secteurs techniques en pleine expansion.
        </p>
    </div>

    <div class="expo">
        <h2><strong>L’Utilité de l’Application</strong></h2>
        <p>L'application, développée dans le cadre de cette collaboration, permet une gestion fluide des projets et un accès simplifié aux ressources pédagogiques. Les étudiants peuvent ainsi se former en continu, suivre l’évolution de leur travail et échanger avec leurs enseignants et des professionnels. Cet outil est conçu pour rendre l'apprentissage plus interactif et plus connecté aux défis du monde réel.</p>
        
        <h2><strong>Public Visé</strong></h2>
        <p>Cette application s’adresse tout particulièrement aux étudiants du lycée, en particulier ceux qui se destinent aux métiers techniques et scientifiques. Elle est également un atout pour les enseignants, leur permettant de mieux encadrer et suivre les progrès de leurs élèves. Enfin, les entreprises du secteur cosmétique et technologique peuvent utiliser l’application pour partager leurs connaissances et nouer des liens avec les futurs professionnels du domaine.</p>
    </div>


</body>
</html>
