*{
  font-family: "Lato";
}

/*Permet de controler les boutton*/
.nav-button {
  background-color: #460096;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}

/*Permet de modifier le logo*/
.navbar-brand{
  width: 150px;
  text-align: center;
  color: #460096;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: black;
}

h1,h2{
  text-align: center;
}


